body {
  background-color: gray;
}


.tabuleiro {
  display: flex;
  height: 600px;
  width: 900px;
  background-color: rgb(99, 97, 97);
  flex-direction: column;
}

.quadrado {
  display: flex;
  height: 75px;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.branca {
  /*background-color: rgb(179, 174, 174);*/
  background-color: rgb(145, 145, 145);
}

.preta {
  background-color: rgb(105, 105, 105);
}

.linhatabuleiro {
  display: flex;
  height: 80px;
  background-color: rgb(75, 46, 46);
}

.peca {
  height: 60px;
  width: 60;
}

.pecabranca{
 filter: invert(80%);
}

.pecapreta {
 filter: invert(0%)
}